@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
    display: block;
}

::-webkit-scrollbar {
    display: null;
}

@media (max-width:640px) {
    a.active {
        background-color: black ;
        color: white;
}
}